NUXT_BITCOIN_NODE_CREDENTIALS=[{"name":"Node 1","user":"node1_username","password":"node1_password","host":"node1_host_ip","port":"8332"},{"name":"Node 2","user":"node2_username","password":"node2_password","host":"node2_host_ip","port":"8332"}]

NUXT_SESSION_PASSWORD="set_a_32_character_random_string_here"

ADMIN_PASSWORD_HASH="set_a_bcrypt_hash_of_your_admin_password_to access_the_node_hub"