NUXT_BITCOIN_NODE_CREDENTIALS=[{"name":"Node 1","user":"node1_username","password":"node1_password","host":"node1_host_ip","port":"8332"},{"name":"Node 2","user":"node2_username","password":"node2_password","host":"node2_host_ip","port":"8332"}]
